<header>
	<h1>{{ block("title") }}</h1>
	<ul>
		<li id="header_user_name">{{ user.name }}</li>
		<li><img id="header_user_photo" alt="Foto del usuario" src="{{ user.photo }}" width="48px"  height="48px" /></li>
	</ul>
</header>