{% extends '::base.html.twig' %}

{% block title %}Administración  - {% endblock %}

{% block body %}
    <header>
        {{ render(controller('AdminBundle:Default:renderNav')) }}
    </header>
    <div class="container">
        <article>
            {% block article %}{% endblock %}
        </article>
    </div>
{% endblock %}