<nav>
	<ul>
		<li id="nav_logo">
			<img  alt="Logo" src="{{ asset('img/logo.png') }}"/>
		</li>
		<li  class="nav_active">
			<a href="{{ path("admin_index") }}" >Inicio</a>
		</li>
		<li>
			<a href="#">Mensajes</a>
			<span class="menu_notification">8</span>
		</li>
		<li>
			<a href="#">Configuraci&oacute;n</a>
		</li>
	</ul>
</nav>