{% extends 'AdminBundle:Default:admin.html.twig' %}

{% block title %}{{ parent() }} Cursos{% endblock %}

{% block article %}
    <div class="row">
        <div class="col-md-1">
            <h1>:(</h1>
        </div>
        <div class="col-md-11">
            <h3>No se han encontrado cursos</h3>
            <p>Si quiere crear un curso, pulse <a href="#">aqui</a></p>
        </div>
    </div>
{% endblock %}