{% extends 'AdminBundle:Default:admin.html.twig' %}

{% block title %}{{ parent() }} {{ admin.userName }}{% endblock %}

{% block article %}
    <div class="row">
        <div class="col-md-6">
            <legend>Datos de usuario</legend>
            <div class="row">
                {% if admin.photo is defined and admin.photo is not null and admin.photo is not empty %}
                    <div class="col-md-6">
                        <img src="{{ asset('uploads/users/' ~ admin.photo) }}" width="256px" height="256px" />
                    </div>
                {% endif %}
                <div class="col-md-6">
                    <p><b>Nombre de usuario: </b> {{ admin.userName }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <legend>Permisos de administraci&oacute;n</legend>
            <div class="row">
                <div class="col-md-6">
                    <p><b>Permisos absolutos</b></p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" disabled {% if admin.permissionsSuperuser %}checked{% endif %}/>
                            Superusuario
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <b>Permisos sobre administradores</b>
                    <table>
                        <tr>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsAdminView %}checked{% endif %}/>
                                    Lectura
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsAdminCreate %}checked{% endif %}/>
                                    Creaci&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsAdminEdit %}checked{% endif %}/>
                                    Edici&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsAdminDelete %}checked{% endif %}/>
                                    Eliminaci&oacute;n
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <b>Permisos sobre profesores</b>
                    <table>
                        <tr>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsTeacherView %}checked{% endif %}/>
                                    Lectura
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsTeacherCreate %}checked{% endif %}/>
                                    Creaci&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsTeacherEdit %}checked{% endif %}/>
                                    Edici&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsTeacherDelete %}checked{% endif %}/>
                                    Eliminaci&oacute;n
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <b>Permisos sobre alumnos</b>
                    <table>
                        <tr>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsStudentView %}checked{% endif %}/>
                                    Lectura
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsStudentCreate %}checked{% endif %}/>
                                    Creaci&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsStudentEdit %}checked{% endif %}/>
                                    Edici&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsStudentDelete %}checked{% endif %}/>
                                    Eliminaci&oacute;n
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <b>Permisos sobre cursos</b>
                    <table>
                        <tr>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsCourseView %}checked{% endif %}/>
                                    Lectura
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsCourseCreate %}checked{% endif %}/>
                                    Creaci&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsCourseEdit %}checked{% endif %}/>
                                    Edici&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsCourseDelete %}checked{% endif %}/>
                                    Eliminaci&oacute;n
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <b>Permisos sobre modalidades de cursos</b>
                    <table>
                        <tr>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsModalityView %}checked{% endif %}/>
                                    Lectura
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsModalityCreate %}checked{% endif %}/>
                                    Creaci&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsModalityEdit %}checked{% endif %}/>
                                    Edici&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsModalityDelete %}checked{% endif %}/>
                                    Eliminaci&oacute;n
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <b>Permisos sobre asignaturas</b>
                    <table>
                        <tr>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsSubjectView %}checked{% endif %}/>
                                    Lectura
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsSubjectCreate %}checked{% endif %}/>
                                    Creaci&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsSubjectEdit %}checked{% endif %}/>
                                    Edici&oacute;n
                                </label>
                            </td>
                            <td class="checkbox">
                                <label>
                                    <input type="checkbox" disabled {% if admin.permissionsSubjectDelete %}checked{% endif %}/>
                                    Eliminaci&oacute;n
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}