{% extends ':Email:base.html.twig' %}

{% block body %}
    <header>
        <h1>Bienvenido a uFutureDesk</h1>
        <h2>{{ school.name }}</h2>
    </header>
    <body>
        <article>
            <p>
                Bienvenido al sistema uFutureDesk del centro {{ school.name }}. uFutureDesk es un sistema de aula virtual
                que conecta tanto a alumnos como profesores para la administraci칩n de tareas, ex치menes, documentos,
                faltas de asistencia, etc. Has sido registrado con el rol de {% if user_type == 'teacher' %}profesor
                {% elseif user_type == 'student' %}alumno{% else %}SIN_ROL{% endif %}. Para finalizar el registro, acceda
                a la siguiente <a href="{{ host ~ '/user/activate/' ~ user.activationRoute }}">web</a> e introduzca una
                contrase침a para acceder al servicio y una foto para poder identficarle m치s facilmente.
            </p>
        </article>
    </body>
{% endblock %}